.app {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: #efe9e0;
}

h2 {
  color: #ff5722;
  font-size: 1.1rem
}

.left-section,
.middle-section,
.right-section {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  background-color: #fff;
  text-align: center;
}

.middle-section {
  min-height: 300px;
  flex: 1;
  overflow: auto;
}

.draggable-widget {
  cursor: move;
  padding: 8px;
  margin: 4px;
  border: 1px solid #ddd;
}

.draggable-widget:hover {
  background-color: #d0d0d0;
}

.droppable-widget {
  height: 70vh;
  padding: 8px;
  margin: 4px;
  border: 1px dashed #ddd;
  text-align: center;
}

.droppable-widget.hover {
  background-color: #f0f8ff;
}

.right-section h2 {
  margin-bottom: 10px;
}

.right-section label {
  display: block;
  margin-bottom: 5px;
}

.right-section input {
  width: 100%;
  margin-bottom: 10px;
}

.right-section button {
  padding: 8px 16px;
  margin: 1rem 0.5rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.right-section button:hover {
  background-color: #45a049;
}
